@import "tailwindcss";

@layer components {
  .scrollbar-hide {
    /* Hide scrollbar for Chrome, Safari and Edge */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
